<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="clemens.schotte@microsoft.com">

    <title>Azure DevOps Dashboard - @ViewData["Title"]</title>

    <link rel="stylesheet" href="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.25/datatables.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body class="bg-light">
    <div class="container">
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="/images/logo.png" alt="Microsoft" width="72" height="72">
            <h2>Azure DevOps Dashboard</h2>
            <p class="lead">Gain a clear understanding of withs projects there are in your organization.</p>
        </div>

        @RenderBody()

        <footer class="my-5 pt-5 text-muted text-center text-small">
            <ul class="list-inline">
                <li class="list-inline-item"><a href="https://support.microsoft.com/en-us/contactus">Contact Microsoft</a></li>
                <li class="list-inline-item"><a href="https://go.microsoft.com/fwlink/?LinkId=521839">Privacy & cookies</a></li>
                <li class="list-inline-item"><a href="https://go.microsoft.com/fwlink/?LinkID=206977">Terms of use</a></li>
                <li class="list-inline-item">&copy; Microsoft @DateTime.Now.Year</li>
            </ul>
        </footer>
    </div>

    <script src="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.25/datatables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>