<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="clemens.schotte@microsoft.com">

    <title>Azure DevOps Dashboard - @ViewData["Title"]</title>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4-4.6.0/jq-3.3.1/dt-1.10.25/datatables.min.css"/>
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body class="bg-light">
    <div class="container">
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="/images/logo.png" alt="Microsoft" width="72" height="72">
            <h2>Azure DevOps Dashboard</h2>
            <p class="lead">Gain a clear understanding of withs projects there are in your organization.</p>
        </div>

        <div class="row">
            <div class="col-1">
                &nbsp;
            </div>
            @RenderBody()
        </div>

        <footer class="my-5 pt-5 text-muted text-center text-small">
            <ul class="list-inline">
                <li class="list-inline-item"><a href="https://support.microsoft.com/en-us/contactus">Contact Microsoft</a></li>
                <li class="list-inline-item"><a href="https://go.microsoft.com/fwlink/?LinkId=521839">Privacy & cookies</a></li>
                <li class="list-inline-item"><a href="https://go.microsoft.com/fwlink/?LinkID=206977">Terms of use</a></li>
                <li class="list-inline-item">&copy; Microsoft @DateTime.Now.Year</li>
            </ul>
        </footer>
    </div>

    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4-4.6.0/jq-3.3.1/dt-1.10.25/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>