@{
	ViewData["Title"] = "Home";
}

<div id="error" class="alert alert-warning alert-dismissible fade show" role="alert" style="display: none">
 <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
 <h4 class="alert-heading">Warning</h4>
 <p id="error-msg"></p>
</div>

<h4>Your Azure DevOps projects</h4>
<table id="projects" class="table table-striped display responsive">
 <thead>
  <tr>
   <th>Name</th>
   <th></th>
   <th>Process Template</th>
   <th>Age</th>
   <th></th>
  </tr>
 </thead>
</table>

<hr />

<figure>
 <blockquote class="blockquote">
  <p>Do you need more data for reporting or like to automate something?</p>
 </blockquote>
 <figcaption class="blockquote-footer">
  Use the <a href="~/api/data">/api/data</a> and <a href="~/api/status">/api/status</a> api's'.
 </figcaption>
</figure>

@section Scripts {
<script>

	$(document).ready( function () {

		// Get status
		$.getJSON("/api/status", function(status) {
			if(status['error'] == true)
			{
				$("#error-msg").text(status['message']);
				$("#error").show();
			}
		});

		// Get project data for table
		var table = $("#projects").DataTable({
			ajax: {
				url: '/api/data',
				dataSrc: ''
			},
			order: [[3, "desc"]],
			columns: [
				{ data: "name" },
				{
					width: "15px",
					data: null,
					orderable: false,
					render: function (data, type, row, meta) {
						if(data.description != null)
							return '<a href="#" data-toggle="tooltip" title="' + data.description + '"><i class="bi bi-info-circle"></i></a>';
						else
							return ''
					}
				},
				{
					data: "processTemplate",
					width: "150px"
				},
				{
					data: "projectAge",
					width: "30px",
					className: "text-center",
					render: function (data, type, row, meta) {
						return Math.round(data)
					}
				},
				{
					width: "15px",
					data: null,
					orderable: false,
					render: function (data, type, row, meta) {
						return '<a href="' + data.url + '" target="_blank"><i class="bi bi-box-arrow-right"></i></a>';
					}
				}
			]
		});

		// Enable tooltips
		$('#projects').on('draw.dt', function () {
			$('[data-toggle="tooltip"]').tooltip();
		});

	});

</script>
}
