@{
	ViewData["Title"] = "Home";
}

<div id="error" class="alert alert-warning alert-dismissible" style="display: none" role="alert">
 <button type="button" class="close" data-dismiss="alert">&times;</button>
 <h4 class="alert-heading">Problem</h4>
 <p id="error-msg"></p>
</div>

<div class="row">
 <div class="col-12">
  <h4 class="mb-3">Your Azure DevOps projects</h4>
  <table id="projects" class="table table-striped display responsive">
   <thead>
	<tr>
	 <th>Name</th>
	 <th></th>
	 <th>Process Template</th>
	 <th>Age</th>
	 <th></th>
	</tr>
   </thead>
  </table>
 </div>
</div>

<hr />

<div class="row">
 <div class="col-12">
  <blockquote class="blockquote">
   <p class="mb-0">Do you need more data for reporting or like to automate something?</p>
   <footer class="blockquote-footer">Use the <a href="~/api/data">/api/data</a> and <a href="~/api/status">/api/status</a> api's'.</footer>
  </blockquote>
 </div>
</div>

@section Scripts {
<script>

	$(document).ready( function () {

		// Get status
		$.getJSON("/api/status", function(status) {
			if(status['error'] == true)
			{
				$("#error-msg").text(status['message']);
				$("#error").show();
			}
		});

		// Get project data for table
		var table = $("#projects").DataTable({
			ajax: {
				url: '/api/data',
				dataSrc: ''
			},
			order: [[3, "desc"]],
			columns: [
				{ data: "name" },
				{
					width: "15px",
					data: null,
					orderable: false,
					render: function (data, type, row, meta) {
						if(data.description != null)
							return '<a href="#" data-toggle="tooltip" title="' + data.description + '"><i class="bi bi-info-circle"></i></a>';
						else
							return ''
					}
				},
				{
					data: "processTemplate",
					width: "150px"
				},
				{
					data: "projectAge",
					width: "30px",
					className: "text-center",
					render: function (data, type, row, meta) {
						return Math.round(data)
					}
				},
				{
					width: "15px",
					data: null,
					orderable: false,
					render: function (data, type, row, meta) {
						return '<a href="' + data.url + '" target="_blank"><i class="bi bi-box-arrow-right"></i></a>';
					}
				}
			]
		});

		// enable tooltips
		$('#projects').on('draw.dt', function () {
			$('[data-toggle="tooltip"]').tooltip();
		});

	});

</script>
}